#header1 {
    background-color: #4A4A4A;
}

#header2 {
    
}

#header3 {
    background-color: #408f46;
}

/* seção 2 */
#secao2_div1 {
    display: flex;
    flex-direction: row
}

#secao2_div2 {
    display: flex;
    flex-direction: row
}

#secao2_div2div2, #secao2_div1div1 {
    text-align: center;
}

/* footer */

#footer {
    background-color: #4A4A4A;
    
}

#footer2-redes {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

